In [1]:
import json
import requests
import pandas as pd

In [2]:
# List of character
search_characters = ['R2-D2', 'Darth Vader', 'Godzilla', 'Luke Skywalker', 'Frodo', \
              'Boba Fett', 'Iron Man', 'Jon Snow', 'Han Solo']

# Set url for API
url = 'https://swapi.dev/api/people/?search='

# Set empty lists to hold character's height and mass
height = []
mass = []
star_wars_ch = []

# Loop through each character and make API request

for character in search_characters: 

    # Create search query, make request and store in json
    
    query = url+character
    response = requests.get(query)
    response_json = response.json()
    
    # Try to grab the height and mass of characters if they are available in the Star Wars API
    
    #print(json.dumps(response_json, indent = 4))
    #break
    
    try: 
        height.append(response_json["results"][0]["height"])
        mass.append(response_json["results"][0]["mass"])
        star_wars_ch.append(character)
    except:
        print(f"{character} is not in Star Wars!")
        
    # Handle exceptions for a character that is not available in the Star Wars API

Godzilla is not in Star Wars!
Frodo is not in Star Wars!
Iron Man is not in Star Wars!
Jon Snow is not in Star Wars!

In [3]:
# Create DataFrame

character_height = pd.DataFrame({"Character": star_wars_ch,
                                "Height": height,
                                "Mass": mass})

character_height

        Character Height  Mass
0           R2-D2     96    32
1     Darth Vader    202   136
2  Luke Skywalker    172    77
3       Boba Fett    183  78.2
4        Han Solo    180    80